html {
    font-size: 4vmin;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 4vmin;
}

.main-menu {
	margin: 0;
	padding-top: 0;
	background: #337ab7;
	font-size: 0.75rem;
	border: 0;
	min-height: 2rem;
	padding-left: 0.3rem;
	border-radius: 0;

}
.main-menu .container {
	margin-left: 0;
	padding: 0;
}

.main-menu a {
	display: block;
	float: left;
	height: 2rem;
	padding: 0.5rem 0.75rem;
	margin: 0;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}
.main-menu a:hover {
	text-decoration: none;
	color: #337ab7;
	background: #eeeeee;
}
.main-menu a .fa {
	margin-right: 0.2rem;
}

.main-menu a.selected {
	background: #ffffff;
	color: #337ab7;
	font-weight: 700;
}

.page {
	padding-top: 0.5rem;
}

.page.main {
	padding-top: 1rem;
}
.page.main .row {
    text-align: center;
}
.page.main .fa.big {
    font-size: 10rem;
}

.page.item {
	padding-top: 0;
}

.page.loading {
	font-size: 3rem;
}

.page .item {
	color: #337ab7;
	text-align: center;
	cursor: pointer;
}

.page .item div {
	padding: 0.5rem;
}

.page .item a {
	text-decoration: none;
}
.page .item .fa {
	font-size: 4rem;
}
.page .item .name {
	font-size: 1.5rem;
	font-weight: 100;
	user-select: none;
}

.page .item:hover {
	background: #eeeeee;
}

.page.item h2 {
	font-size: 1rem;
	margin-top: 0.5rem;
}

.page.item .image-viewer {
	text-align: center;
}

.page.item .image-viewer .slider {
	height: 100%;
}

.page.item .image-viewer button.get-inference {
	margin-top: 0.3rem;
	width: 5rem;
	height: 2rem;
}

.page.item .image-viewer .loading {
	font-size: 3rem;
}
